{% extends 'base.html' %}
{% block content %}

{% load static %}
{% load require %}

{% require_module 'nearley'%}
{% require_module '/static/report_parser/js/grammar-base-compiled.js' %}

<script src="{% static 'report_parser/js/report_parser.js' %}"></script>


<form method="post" id="post-form">{% csrf_token %}
  {{form.as_p}}
  {{form.id_text}}
  {{form.id_json_data.as_hidden}}
  <input type="submit" value="Save">
</form>

<script>

/*
$('#post-form').on('submit', function(event){
  event.preventDefault();
  console.log("not submitting, parsing form...");
  parse_report();
});
*/

$('#id_text').on('input', function(){
  parse_report();
});

function parse_report(){
  var report_text = $('#id_text').val();
  //console.log("form parse_report text = " + report_text);
  console.log("Parsing data...");
  parseReport(report_text);
}

</script>

{% endblock content %}
