{% extends 'base.html' %}
{% block content %}

{% load static %}
{% load require %}

{% require_module 'nearley'%}
{% require_module '/static/report_parser/js/grammar-base-compiled.js' %}

<script src="{% static 'report_parser/js/report_parser.js' %}"></script>


<form method="post" id="post-form">{% csrf_token %}
  {{form.text}}
  {{form.json_data.as_hidden}}
  {%if form.json_data.errors %}
  <div class="alert alert-info">
    {{form.json_data.errors}}
  </div>
  {%endif%}
  <input type="submit" value="Save">
</form>

<script>

$('#post-form').on('submit', function(event){
  //event.preventDefault();
  console.log("submitting report");
});

$('#id_text').on('input', function(){
  parse_report();
});

function parse_report(){
  var report_text = $('#id_text').val();
  //console.log("form parse_report text = " + report_text);
  console.log("Parsing data...");
  parseReport(report_text);
}

</script>

{% endblock content %}
