{% extends 'base.html'%}
{% load static %}

{% block page_header %}
{% if user.is_authenticated %}
<h1>Hello {{user.username}}, Welcome to Poseidon!</h1>
{% else %}
<h1>Hello Atlantis, Welcome to Poseidon!</h1>
{% endif %}
<h2>Poseidon is a web based GUI for <a href="http://atlantis-pbem.com">Atlantis PBEM</a></h2>
{% endblock page_header %}

{% block content %}
<img class="pure-img" src="{% static 'img/Poseidon_sculpture_Copenhagen_2005.jpg' %}" alt="Poseidon Sculpture">

{% endblock content %}
